:root {
    --LightRed /*CTA text*/: hsl(356, 100%, 66%);
    --VeryLightRedHover /*CTA hover background*/: hsl(355, 100%, 74%);
    --VeryDarkBlue /*headings*/: hsl(208, 49%, 24%);

    --White /*text*/: hsl(0, 0%, 100%);
    --GrayishBlue /*(footer text)*/: hsl(240, 2%, 79%);
    --VeryDarkGrayishBlue /*(body copy)*/: hsl(207, 13%, 34%);
    --VerydDarkBlackBlue /*(footer background)*/: hsl(240, 10%, 16%);

    /* Background gradient - Intro/CTA mobile nav: */
    --VeryLightRedNav: hsl(13, 100%, 72%);
    --LightRedBackNav: hsl(353, 100%, 62%);

    /* Background gradient - body: */
    --VeryDarkGrayBlueBody: hsl(237, 17%, 21%);
    --VeryDarkDesaturatedBlueBody: hsl(237, 23%, 32%);
}

@font-face {
    font-family: Overpass;
    src: url(/Assets/Fonts/Overpass/Overpass-VariableFont_wght.ttf);
}

@font-face {
    font-family: Ubuntu;
    src: url(/Assets/Fonts/Ubuntu/Ubuntu-Regular.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}